h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 7px;
}

.hljs {
  overflow-x: scroll;
  white-space: pre;
  text-align: start;
  scrollbar-width: thin;
  scrollbar-color: #01143c #010120;
}
